Debug
Release
LS/Debug
LS/Release
*.VC.db
*.VC.opendb
*.vcxproj.user
*.vcxproj.filters
*.tlog
*.lastbuildstate
*.obj
*.pdb
*.ipdb
*.log
*.DS_Store
*.suo
*.sdf
*.vs
*.VC.db
*.VC.VC.opendb
x64
LS/x64
LS/build
main
