Debug/
Release/
LS/Debug/
LS/Release/
*.VC.db
*.VC.opendb
*.vcxproj.filters
*.tlog
*.lastbuildstate
*.pdb
*.ipdb
*.log
*.DS_Store
*.suo
*.sdf
*.vs
*.VC.db
*.VC.VC.opendb
x64/
x86/
LS/x64/
LS/x86/
LS/build
main
